body{
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}
header{

    background-color: #56f24e;
    color: white;
    padding: 20px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    justify-content: space-between;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    display: block;
    
}   
.nav{
    display: flex;
    gap: 100px;
    text-decoration: none;
    
}
.nav li{
    list-style: none;
    
}
.nav li a:hover{
    color: #333;
    font-weight: bold;
    
}
.nav li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.contact{
    
    color: rgb(14, 3, 3);
    /* align-items: center; */
    border-radius: 15px;
}
.contact button{
    /* color: white; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact button:hover{
    background-color: #333;
    color: white;
    font-weight: bold; 

    
    
}